<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Задача PP_3.1.2</title>
  </head>
  <body>
    <h2>Задача PP_3.1.2</h2>
    <h1>CRUD-приложение Spring Boot</h1>
    <h3>Группа: j_04_23_1_alm_4</h3>
    <h3>Студент: Александр Ковалёв</h3>
    <br>
    <p>
      При первом запуске будет создана база данных (схема) 'pp_3.1.2' на вашем локальном сервере MySQL.
    </p>
    <p>
      Таблица 'users' создаётся автоматически при каждом запуске приложения.
    </p>
    <h4>
      ВАЖНО! После завершения работы приложения данные не сохраняются в базе данных,<br>
      т.к. таблица 'users' автоматически удаляется.
    </h4>
    <p>
      Для начала работы с приложением нажмите <a href="all-users">здесь</a>.
    </p>
  </body>
</html>